body {
    margin: 0;
}

nav {
    background-color: #313639;
    padding: 2rem;
}

main {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    /* grid-template assigned via JS */
    width: 600px;
    height: 600px;
    margin: 2rem;
    border: 1px solid #313639;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.gridValueDisplay {
    margin: 0;
}